/* Node canvas */
html, body {
  height: 100%;
  margin: 0;
}

.flex-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flex-header {
    flex: 0 1 auto;
}

.flex-content {
    flex: 1 1 auto;
}

#node-canvas {
    height: 100%;
    background-color: #e9ecef;
    border-radius: 10px;
    border: 1px solid #8D99A5;
    overflow: hidden;
}

#canvas-transform {
    position: relative;
    transform-origin: 0px 0px;
    transform: translate(0px, 0px) scale(1.0);
}


/* Nodes */
.node {
    position: absolute !important;
    width: 150px;
    padding: 10px;
    padding-top: 0px;
    border-radius: 15px;
    background-color: #6c7a89;
    border: 1px solid;
    border-top: 15px solid;
    box-sizing: content-box !important;
}

.node-name {
    width: 100%;
    background-color: transparent;
    border: 0px;
    font-size: 16pt;
    color: white;
}

.node-button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1px;
    border-radius: 4px;
}

.node-button:active {
    background-color: #00000040;
}

.node-button:focus {
    border: none;
    outline: none;
}

.node-modify {
    border-radius: 4px;
    background-color: #00000060;
    border: none;
    outline: none;
    padding: 4px;
    color: white;
    width: 100%;
}

.node-modify:active {
    background-color: #00000080;
}

.node-modify:focus {
    border: none;
    outline: none;
}

.node-inouts {
    display: flex;
}

.node-inputs, .node-outputs {
    flex: 50%;
}

.svg-connection {
    position: absolute;
    overflow: visible !important;
    pointer-events: none;
}

.connection {
    position: relative;
    fill: none;
    stroke-width: 4px;
    stroke: #01356A;
    pointer-events: all;
}

.input-output {
    position : relative;
    width: 20px;
    height: 20px;
    border: 2px solid #212529;
    border-radius: 5px;
    padding: 2px;
}

.input {
    background-color: orange;
    left: -18px;
}

.output {
    background-color: green;
    left: 73px;
}

.output:hover, .input:hover {
    padding: 0px;
    border: 3px solid #212529;
}


/* Editor */
#editor {
    height: 100%;
}

#editor-stories {
}

#editor-area-activities {
    height: 100%;
}

#editor-area-missions {
}

.editable-name {
    background-color: transparent;
    border: 0px;
    font-size: 20pt;
    display: inline-block;
    width: 100%;
}

.editable-name-div {
    overflow: hidden;
    padding: 3px;
}

.mission-div {
    border-radius: 15px;
    border: 1px solid;
    border-top: 15px solid;
    background-color: #6c7a89;;
}

.mission-button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1px;
    border-radius: 4px;
}

.mission-button:active {
    background-color: #00000040;
}

.mission-button:focus {
    border: none;
    outline: none;
}

.mission-name {
    font-size: 15pt;
    color: white;
}

.mission-col{
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 3px;
    border-radius: 6px;
    height: 24px;
    width: 24px;
    border: none;
    outline: none;
    padding: 2px;
    -webkit-appearance: none;
}

.mission-col::-webkit-color-swatch-wrapper {
    padding: 0;	
}

.mission-col::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

.activity-name {
    font-size: 13pt;
}

.content-buttons {
    float: left;
}

.content-div {
    background-color: #85C0FF; 
    border-radius: 10px;
}

.content-item {
    min-height: 100px;
}

.story-icon, .mission-icon, .content-icon, .node-icon {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.node-icon {
    width: 24px;
    height: 24px;
}

.story-icon {
    position: relative;
    left: -10px;
    width: 24px;
    height: 24px;
}

.input-icon {
    width: 28px;
    height: 28px;
}

.mission-icon {
    width: 24px;
    height: 24px;
}

.content-icon {
    width: 24px;
    height: 24px;
}

.content-image img {
    max-width : 100%;
}

video {
  max-width: 100%;
}