/*Chat Styling*/
.chat-popup {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 90vw;
    max-width: 50vh; 
    display: none;
    z-index: 100000;

}
#close-chat-div{
    padding:0;
    top:0;
}

#chat-title {
    font-size: 2.5vh;
    font-weight: normal;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
    padding-top: 2px;
    padding-bottom: 2px;
}

.col-sm-8 {
    width: 100%;
    max-width: 100%;
}

.col-md-8 {
    padding-left: 0;
    padding-right: 0;
    float: left;
    width: 80%;
}

.container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.col-md-4 {
    width: 10%;
    float: right;
    top: 2px;
}

#close-chat-div .glyphicon-remove {
    right: 0;
    top: 1em;
    font-size:2vh;
}

.glyphicon-send {
    top: 2px;
    padding-right:.5em;
}
.glyphicon-comment {
    top: .5em;
    font-size: 2em;
    margin-bottom: 1em;
}
.col-md-2, .col-md-10 {
    padding: 0;
}

.panel {
    margin-bottom: 0px;
}

.chat-window {
    bottom: 0;
    position: fixed;
    float: right;
    margin-left: 10px;
}

.chat-window > div > .panel {
    border-radius: 5px 5px 0 0;
}

.msg_container_base {
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    height: 30vh;
    overflow-x: hidden;
}

.top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.msg_receive {
    width: 100%;
}

.msg_sent {
    padding-bottom: 20px !important;
    width: 100%;
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    min-height:10vh;
}

.sent-msgs {
    background: rgba(66, 139, 202, 0.78);
}

.messages > p {
    font-size: 3vh;
    color: black;
    margin: 0 0 0.2rem 0;
    max-width: 100%;
    word-wrap: break-word;
}

.messages > time {
    font-size: 2vh;
    color: black;
    float:right;
    position: relative;
    bottom:1vh;
}

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}

.msg_sent > time {
    float: right;
    margin-bottom:.5vh;
}

.msg_container_base::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
#send-msg {
    margin: auto;
    font-size: 2.5vh;
    padding: .375rem .75rem;
}
#new_msg_text {
    outline:none;
    font-size:2.5vh;
}
.form-control:focus{
     box-shadow:none;

}