/*Tag*/
h1 {
    font-size: 8vh;
    text-align: center;
    line-height: 1;
}
body {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    height: 100%;
}
img {
    object-fit: contain;
    width: 60vmin;
    height: auto;
}

video {
    width: 100%;
}

/*classi e id*/
#div-grande {
    height: 70vh;
    border-radius: 2vh;
    min-width: 80%;
    max-width: 80%;
    margin: auto;
    padding: 1vh;
    overflow-y: auto;
}

.bottonecorrezioni {
    font-size: 2.5vh;
    margin-right: 0.5vw;
    border-radius: 0;
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
}
.bottonehelp {
    font-size: 2.5vh;
    margin-right: 0.5vw;
    border-radius: 0;
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
}
.bottonechat {
    font-size: 2.5vh;
    margin-right: 0.5vw;
    border-radius: 0;
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
}

#nome-attivita {
    text-align: center;
    font-size: 2.5vh;
    font-weight: 600;
}

#nome-missione {
    text-align: center;
    margin-bottom: 0.5vh;
    font-size: 4vh;
}

.testo-attivita {
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    margin-top: .5vh;
    font-size: 2.5vh;
}
.testo-attivita img {
    text-align: center;
    vertical-align: middle;
    border-style: none;
    margin: auto;
    display: block;
}
/*Notifica nuovo punteggio*/
.notification-bar {
    width: 100%;
    color:black;
    position:fixed;
    background: rgba(255, 255, 255, .9);
    border: 1.5px solid black;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    padding: 5px;
    font-weight:600;
    min-height:10vh;
    animation-name: notification;
    animation-duration:5s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}
.score-notif-text-pos {
    font-size:3vh;
    color: #07b100;
}
.score-notif-text-neg {
    font-size: 3vh;
    color: red;
}
@keyframes notification {
    0% {
        top:-100vh;
    }
    10% {
        top:0;
    }
    80%{
        top:0;
    }
    100%{
        top:-100vh;
        display:none;
    }
}
/*Messaggio di errore*/
#err-msg{
    font-size: 2.5vh;
    text-align:center;
    color:red;
}
/*spazio che contiene gli input*/
#footer {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
/*INPUT: */
.input { /*tutti gli input*/
    margin: 2vh;
    font-size: 2.5vh !important;
    border: black solid 1px;
}

/*input delle risposte*/
/*placeholder è la scritta inside all'input*/
.default-input-text::placeholder {
    font-weight: bold;
    font-style: italic;
    text-align:center;
}

.bottone-next {
    border: 1px black solid;
    font-size: 2.5vh;
    border-radius: 0.5vh;
    font-weight: bold;
    margin: 2vh;
    vertical-align: top;
    height:5vh;
    line-height:.5vh;
}
.default-input-num {
    width: 20vh;
    height:5vh;
    margin: 2vh;
    font-size: 2.5vh;
    border-radius: 0.5vh;
}
.default-input-text {
    margin:0;
    height:5vh;
    border: solid black 1px;
    border-radius: 0.5vh;
}

#window-input-text > textarea {
    width: 100%;
    height: 34.5vh;
    margin: auto;
    font-weight: bold;
    font-size: 3vh;
    opacity: 0.7;
}

#window-input-text > button {
    display: block;
    width: 100%;
    margin: auto;
    height: 5vh;
    font-size: 2vh;
    font-weight: bold;
    color: white;
}

#window-input-text {
    width: 70vw;
    height: 40vh;
    margin: auto;
    position: fixed;
    top: 37vh;
    left: 15vw;
    background-color: white;
    border: 2px solid white;
}
/*Finestra per l'help*/
.help-color-border{
    width: 100%;
    height: 100%;
    padding: 1vh;
    overflow-y: auto;
    font-size: 2vh;
    word-break: break-word;
    background:white;   
}
.help-white-border {
    margin: auto;
    top: 20vh;
    left: 15vw;
    position: fixed;
    width: 70vw;
    height: 60vh;
    border: 3px solid white;
}
#new-help-req {
    text-align:center;
}
#no-help-msg {
    margin-top:3vh;
    text-align:center;
    display:block;
}
#send-new-req {
    border-color: #9932CC;
}
#helpPane p {
    margin-bottom:0;
}
#helpPane h3 {
    text-align:center;
}
#helpPane textarea {
    margin-bottom:1vh;
    width:100%;
    resize:none;
    font-size:2vh;
    text-align:left;
}
.help-answer, .help-question {
    padding:.5vh;
    display:block;
    min-height: 5vh;
    margin-bottom:1vh;
    background-color:rgba(200,200,200, .5);
}
#close-help-pane{
    float:right;
    width: 5vw;
    top:0;
    margin-bottom:1vh;
    position:relative;
    border: 0px;
}

.glyphicon-remove {
    font-size:2vh;
}

/*INPUT TEXT + GLYPHICON*/
/*Bootstrap layout per avere l'icona dentro all'input*/
.inner-addon {
    position: relative;
    width: 20vh;
    margin: 2vh;
    display: inline-block;
}
a.glyphicon-fullscreen:hover {
    color: blue;
    cursor: pointer;
}
.glyphicon-fullscreen.glyphicon-fullscreen:before {
    bottom: 0.5vh;
    position: relative;
}
/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    font-size: 2.5vh !important;
}
/* align icon */
.left-addon .glyphicon {
    left: 7%;
    top: 32%;
    padding:0;
}
/* add padding  */
.left-addon input {
    padding-left: 30px;
}
/*UPLOAD dei FILE (immagini)*/
.custom-file-upload {
    background: white;
    display: inline-block;
    cursor: pointer;
    padding: 1px 6px;
    border: 1px black solid;
    font-weight: bold;
    font-size: 2.5vh;
    border-radius: 0.5vh;
    height: 5vh;
    padding-top:4px;
}
/*per nascondere l'input dell'immagine xkè se no è un obrobrio*/
input[type="file"] {
    display: none;
}
/*preview dell'immagine caricata*/
#preview {
    height: 5vh;
    width: auto;
    position: relative;
    left: 0;
    bottom: .8vh;
    border: 1px solid black;
    border-top-right-radius: 0.5vh;
    border-bottom-right-radius: 0.5vh;
}
#score {
    float: right;
    margin-right: 2vh;
    margin-bottom: 0;
    font-size: 3vh;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-weight: bold;
}
#final-text {
    text-align:center;
    font-size: 5vh;
}
/*notifica nuovo messaggio chat*/
.dot {
    min-width: 2vh;
    min-height: 2vh;
    margin: .2vh;
    border-radius: 2vh;
    font-size: 1vh;
    vertical-align: middle;
    text-align: center;
    padding: 2.5px;
    float: left;
    clear: right;
    background: radial-gradient(rebeccapurple 10%, transparent) !important;
}