@font-face {
    font-family: 'ArtistikDemoVersio';
    src: url('/public/fonts/ArtistikDemoVersio.woff2') format('woff2'), url('/public/fonts/ArtistikDemoVersio.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Titolo storia */
h1 {
    font-size: 9vh;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-align: center;
    color: #9932CC;
    font-family: "ArtistikDemoVersio";
    line-height: 1;
    margin-bottom: 2vh;
}


/* Label dello score */
#score {
    font-size: 3vh;
    font-weight: normal;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: black;
    font-weight: bold;
}

/* Testo di fine storia */
#final-text {
    font-size: 5vh;
    color: #9932CC;
}

/* Corpo storia */
body {
    background-image: url("/public/images/VanGogh.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

#generico {
    background-color: transparent;
}

#div-grande {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    border: 3px #9932CC solid;
    text-shadow: 1px 2px 10px #9932CC;
}

#nome-attivita {
    font-size: 2.5vh;
    font-weight: 600;
    font-family: 'Helvetica Neue LT Std';
}

#nome-missione {
    font-size: 4vh;
    font-family: 'Helvetica Neue LT Std';
}

.testo-attivita {
    font-size: 2.5vh;
    font-weight: bold;
    font-family: 'Helvetica Neue LT Std';
}

/* Finestra per input testuale */
#window-input-text > textarea {
    background-color: #9932CC;
    color: white;
    opacity: 0.7;
}

#window-input-text > button {
    background-color: #9932CC;
    color: white;
    border: 1px solid black;
}

#window-input-text {
    background-color: white;
    border: 2px solid white;
}
/*all button*/
#chat-button, #help-button, #bottone-avanti {
    border: 2px solid black !important;
}

/* Richiesta di aiuto */
#helpPane {
    background: white;
    border: 5px solid #9932CC;
}

#send-new-req {
    border-color: #9932CC;
}

.help-answer, .help-question {
    background-color: rgba(200,200,200, .5);
}

#close-help-pane {
    color: #9932CC;
}

/* Chat */
.panel-primary > .panel-heading {
    background-color: #ae50dc;
    border-color: #ae50dc;
}

#send-msg {
    background-color: #ae50dc;
}

.sent-msgs {
    background-color: #9932CC;
}

.icon_close {
    color: white;
}
